@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

$font-family: "Open Sans", sans-serif;
$font-family2: "Roboto", sans-serif;

$bg-color: hsl(210, 36%, 96%); //-- near white
$text-color: hsl(209, 61%, 16%); //-- dark blue
$text-color2: hsl(210, 22%, 49%);
//
$color-red-dark: rgb(161, 31, 31);
$color-red-light: hsl(360, 71%, 66%);
$color-green-dark: hsl(125, 69%, 37%);
$color-green-light: hsl(125, 71%, 66%);
$color-blue-light: #49a6e9;

//-- shades
$color-d-shade: hsl(205, 86%, 17%);
$color-l-shade: hsl(205, 86%, 81%);

//-- shadows
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
