@import 'config';


* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  display: flex;
//   flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
    background: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80') no-repeat center center/cover;
    position: absolute;
    top: -30px;                 //0 to -30px to hide the blurry edges
    left: -30px;
    width: calc(100vw + 60px);  //calc(+60px) to hide the blurry edges
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);          //*****
}

.loading-text {
    font-size: 50px;
    color: #fff;
    opacity: 1;                 //*****
}