@import "config";

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font-stack;
  margin: 0;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  margin: 1rem auto;
  color: $dark-blue;
  line-height: 100%;
  span {
    font-size: 22px;
    font-family: $font-stack2;
    i {
      font-size: 28px;
    }
  }
}

.chart-container {
  position: relative;
  width: 100%;
  height: $fixed-height;
  max-width: $max-width;
  min-width: $min-width;
  // border: 1px red solid;
}

.chart {
  position: absolute;
  left: 20px;
  width: calc(100% - 40px); //40px: both end
  height: 100%;
  // border: 1px green solid;
}

@import "media";
