@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
}

img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

span {
  position: absolute;
  color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  // overflow: hidden;
  position: relative;
  margin-left: 32%;
  border: 1px solid red;
}

.image-container {
  // overflow: hidden;
  width: 400px;
  height: 250px;
  position: relative;
  top: 0;
  left: 0;
  // margin-left: 15px;
  border: 1px solid blue;

  ul {
    width: 300%;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
  }

  li {
    list-style: none;
    position: relative;
    float: left;
    margin-left: 3px;
  }
}

div#prev {
  position: absolute;
  cursor: pointer;
  top: 122px;
  font-weight: bold;
}
div#next {
  position: absolute;
  cursor: pointer;
  left: 423px;
  top: 122px;
  font-weight: bold;
}
