@import "config";

* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font-stack;
  margin: 0;
}

// img {
//   border: 4px $text-color solid;
//   border-radius: 2px;
// }

.container {
  margin: auto;
  // max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // text-align: center;
  padding: 5rem 0;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.filter-btn {
  background: transparent;
  border-color: var(--clr-gold);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  border-radius: var(--radius);
  padding: 0.375rem 0.75rem;
  color: var(--clr-gold);
  cursor: pointer;
  transition: var(--transition);
}
.filter-btn:hover {
  background: var(--clr-gold);
  color: var(--clr-white);
}

.menu-items {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}
.photo {
  object-fit: cover;
  height: 200px;
  border: 0.25rem solid var(--clr-gold);
  border-radius: var(--radius);
}
.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted var(--clr-grey-5);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: var(--clr-gold);
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@import "media";
