@import "config";

body {
  background-color: $bg-color;
  color: $dark-blue;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.title {
  margin: 30px 0 75px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-bottom: 100px;

  img {
    // keeps aspect ratio and clipped to fill the dimension
    object-fit: cover;
    margin: 10px;
    height: 300px;
    width: 300px;
    max-width: 100%;
  }
}

.loader {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  transition: $transition; //opacity
  &.show {
    opacity: 1;
  }
}

.circle {
  background-color: $light-blue;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  animation: bounce 0.5s ease-in infinite;

  &:nth-of-type(2) {
    animation-delay: 0.1s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.2s;
  }
}

@import "motion";
