@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");
$font-stack: "Heebo", sans-serif;

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
