@media screen and (min-width: 576px) {
  .slider-container {
    height: 45vh;
  }
}

@media screen and (min-width: 768px) {
  .slider-container {
    height: 55vh;
  }

  .btn {
    font-size: 1.3rem;
    padding: 0.35rem 0.5rem;
  }

  .next-btn {
    right: -4rem;
  }

  .prev-btn {
    left: -4rem;
  }

  .quote-icon {
    font-size: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .slider-container {
    height: 65vh;
  }
}

@media screen and (max-height: 580px) {
  .quote-icon {
    display: none;
  }
}
