@media screen and (min-width: 768px) {
  .btn {
    font-size: 1.3rem;
    padding: 0.35rem 0.5rem;
  }

  .next-btn {
    right: -5rem;
  }

  .prev-btn {
    left: -5rem;
  }

  .quote-icon {
    font-size: 2rem;
  }
}
