@import "config";

* {
  box-sizing: border-box;
}

body {
  font: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.section-title {
  text-align: center;
  margin: 6.5rem 0 1rem 0;
  h1 {
    font-size: 3rem;
  }
}

section.container {
  font: $font-stack;
  // border: 1px solid red;

  max-width: $fixed-width;
  border: 1px solid green;

  .slide-container {
    //width 0 why???
    display: flex;
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;

    .slide {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}

.btn {
  position: absolute;
  top: 175px;
  background: $medium-grey;
  color: $white;
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  border: transparent;
  cursor: pointer;
}
.next-btn {
  right: -0.5rem;
}
.prev-btn {
  left: -0.5rem;
}

.quote-icon {
  font-size: 2rem;
  margin: 1rem auto;
  color: $light-blue;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  background: white;
  padding: 5px;
  border-radius: 50%;
  box-shadow: $dark-shadow;
}
h4 {
  font: $font-stack2;
  text-transform: uppercase;
  font-weight: 500;
  color: $light-blue;
  letter-spacing: $letter-spacing;
  margin: 0.5rem 0;
}
.location {
  margin-bottom: 1.25rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.text {
  color: $medium-grey;
  line-height: 1.8;
  max-width: 35em;
  margin: 0 auto;
  letter-spacing: 1px;
}

// .icon:hover {
//   transform: scale(1.1);
//   opacity: 0.8;
// }

/* MORE CSS FOR JS */

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: $transition;
  opacity: 0;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide.next {
  transform: translateX(100%);
}
.slide.last {
  transform: translateX(-100%);
}

@import "media";
