@import "config";

* {
  box-sizing: border-box;
}

html {
  background-color: $secondary-color;
  color: $primary-color;
  transition: all 0.5s ease-in;

  &.dark {
    background-color: $light-secondary-color;
    color: $light-primary-color;
  }
}

body {
  font-family: $font-stack;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

button.toggle {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  background-color: $primary-color;
  color: $secondary-color;

  &.light {
    background-color: $light-primary-color;
    color: lighten($light-secondary-color, 15%);
  }

  &:focus {
    outline: none;
  }
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .clock {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .time {
    font-size: 60px;
  }

  .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    .circle {
      background-color: $primary-color;
      color: $secondary-color;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      transition: all 0.5s ease-in;
      font-size: 12px;
    }
  }
}

%needle-shared-transition {
  // transform: translate(-50%, -100%) rotate(0deg);
  @include transform(translate(-50%, -100%) rotate(0deg));
}
.needle {
  background-color: $primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  transition: all 0.5s ease-in;

  &.hour {
    @extend %needle-shared-transition;
    &.light {
      background-color: $light-primary-color;
    }
  }

  &.minute {
    @extend %needle-shared-transition;
    height: 100px;
    &.light {
      background-color: $light-primary-color;
    }
  }

  &.second {
    @extend %needle-shared-transition;
    height: 100px;
    background-color: #e74c3c;
  }
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  @include transform(translate(-50%, -50%));

  &:after {
    content: "";
    background-color: $primary-color;
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    @include transform(translate(-50%, -50%));
  }
}
