@import "config";

* {
  box-sizing: border-box;
}

html {
  @include set-background-text($white-color);
  transition: all 0.5s ease-in;

  &.dark {
    @include set-background-text($dark-grey-color);
  }
}

body {
  font-family: $font-stack;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

button.toggle {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  z-index: 10;
  @include set-background-text($black-color);

  &.light {
    background-color: $white-color;
    color: lighten($dark-grey-color, 15%);
  }

  &:focus {
    outline: none;
  }
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .clock {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 50%;

    .needle {
      --rotation: 0;
      background-color: $black-color;
      position: absolute;
      //-- center of the clock
      bottom: 50%;
      left: 50%;
      width: 4px;
      transform-origin: bottom center;
      // transition: all 0.5s ease-in;  //-- causes an error near the 360 deg
      @include transform(translate(-50%) rotate(calc(var(--rotation) * 1deg)));

      &.hour {
        height: 65px;
        &.light {
          background-color: $white-color;
        }
      }

      &.minute {
        width: 3px;
        height: 100px;
        &.light {
          background-color: $white-color;
        }
      }

      &.second {
        width: 2px;
        height: 100px;
        background-color: $red-color;
      }
    }

    .center-point {
      background-color: $red-color;
      width: 10px;
      height: 10px;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      @include transform(translate(-50%, -50%));

      &:after {
        content: "";
        background-color: $black-color;
        width: 5px;
        height: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        @include transform(translate(-50%, -50%));
      }
    }
  }

  .time {
    font-size: 60px;
    margin-top: 20px;
  }

  .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;

    .circle {
      @include set-background-text($black-color);
      border-radius: 50%;
      height: 20px;
      width: 20px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      line-height: 18px;
      transition: all 0.5s ease-in;
      font-size: 12px;
      transform: translateY(-1px);
    }

    .circle.light {
      @include set-background-text($white-color);
    }
  }
}

// @extend %needle-shared-transition;
%needle-shared-transition {
  @include transform(translate(-50%, -100%) rotate(0deg));
}
