@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: "Lato", sans-serif;
$bg-color: #c3c7ca;
$border-color: #e3e5e4;
$text-color: #34444f;
$dark-shadow: 5px 5px 10px rgba(154, 160, 185, 0.2),
  0px 5px 15px rgba(0, 0, 0, 0.25);
