@import "config";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  margin: 0;
  //
  display: flex;
  flex-wrap: wrap; //***
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.btn {
  background-color: rebeccapurple; //
  border-radius: 5px;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;

  &:hover {
    background-color: rgb(69, 34, 104);
  }

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
  }
}
