$bg-color: hsl(210, 36%, 96%); //-- near white
$border-color: hsl(209, 61%, 16%);
$image-url: "https://source.unsplash.com/random/150x150";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
