@import url("https://fonts.googleapis.com/css?family=Open+Sans");

$font-stack: "Open Sans", sans-serif;
$transition: transform 0.5s ease-in-out;

* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  height: 100vh;
}
