@import "config";

.container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left-slide {
  position: absolute;
  // top: 0;
  left: 0;
  width: 35%;
  height: 100%;

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

    h1 {
      font-size: 40px;
      margin-bottom: 10px;
      margin-top: -30px;
    }
  }
}

.right-slide {
  position: absolute;
  // top: 0;
  left: 35%;
  width: 65%;
  height: 100%;

  .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

.slide-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: $transition;

  &.active {
    transform: translateY(0);
  }

  &.next {
    transform: translateY(100%);
  }

  &.prev {
    transform: translateY(-100%);
  }
}

.action-buttons {
  button {
    position: absolute;
    left: 35%;
    top: 50%;
    z-index: 100;

    background-color: #fff;
    border: none;
    color: #aaa;
    cursor: pointer;
    font-size: 16px;
    padding: 15px;

    &:hover {
      color: #222;
    }

    &:focus {
      outline: none;
    }
  }

  .down-button {
    transform: translateX(-100%); //***
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .up-button {
    transform: translateY(-100%); //***
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
