@import "global";
@import "config";

.sidebar-toggle {
  position: fixed;
  top: 2rem;
  right: 3rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: $light-blue;
  transition: $transition;
  cursor: pointer;
  animation: bounce 1.5s ease-in-out infinite;

  &:hover {
    filter: brightness(1.2);
  }
}

@import "motion";
