@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: Arial, Helvetica, sans-serif;
//
$bg-color: $clr-grey-10;
$text-color: $clr-grey-2;
$dark-blue: $clr-primary-2;
$light-blue: $clr-primary-10; //--$clr-grey-8
$black: #111;
$border-radius: 5px;
// $transition: all 0.3s ease-in;
