@import "config";

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-stack;
}

//-- _global.scss
// main {
//   min-height: 100vh;
//   display: grid;
//   place-items: center;
// }

div.section-title {
  text-align: center;
  margin: 4rem 0 1rem 0;
  h1 {
    font-size: 3rem;
  }
}

section.followers {
  width: 95vw;
  max-width: $max-width;
  margin: 4rem auto;

  .container {
    display: grid;
    gap: 2rem;
    margin-bottom: 4rem;
  }

  .btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.card {
  background: $white;
  border-radius: $border-radius;
  box-shadow: $light-shadow;
  padding: 2rem 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.75rem;
  }

  h4 {
    margin-bottom: 1.5rem;
    font-size: 0.85rem;
    color: $clr-grey-5;
  }
}

.btn {
  padding: 0.35rem 0.75rem;
  letter-spacing: 1.6px;
  font-size: 0.75rem;
  color: $white;
  background: $light-blue;
  border-radius: $border-radius;
  border-color: transparent;
  width: 160px;
  text-transform: uppercase;
  transition: $transition;
  cursor: pointer;
  &:hover {
    color: $black;
  }
  &:active {
    transform: scale(0.98);
  }
}

.page-btn {
  width: 2rem;
  height: 2rem;
  background: $white;
  border-color: $dark-blue;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
  transition: $transition;
  &:hover {
    background: $dark-blue;
    color: $white;
  }
}

.active-btn {
  background: $dark-blue;
  color: $white;
  cursor: default;
}

.prev-btn,
.next-btn {
  background: transparent;
  border-color: transparent;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: $letter-spacing;
  margin: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

@import "media";
