@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

$font-stack: "Poppins", sans-serif;
$bg-color: #f5f5f5;
$text-color: #444;
$light-purple: rgb(179, 131, 226);
$dark-blue: hsl(209, 61%, 16%);
$light-grey: #b5b5b5;
$lighter-grey: #e5e5e5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
