@import "config";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  margin: 0;
  //
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 50px 20px;
  text-align: center;
  max-width: 100%; //*** w/o media tag
  width: 800px;
}

h3 {
  margin: 0;
  opacity: 0.5;
  letter-spacing: 2px;
}

.joke {
  font-size: 30px;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 50px auto;
  max-width: 600px;
  // opacity: 0;
  // animation-name: fadein;
  // animation-duration: 1s;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: rgb(69, 34, 104);
  }

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

// @import "motion";
