@import "config";

* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  color: $text-color;
  font-family: $font-stack;
  margin: 0;
}

img {
  border: 4px $text-color solid;
  border-radius: 2px;
}

.container {
  margin: auto;
  margin-top: 2rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; //need!!!
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.search-section,
.search-form {
  display: flex; //-- row
}

input,
button {
  border: 1px solid $med-grey;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
  width: 300px;
}

.btn {
  cursor: pointer;
  border-radius: $border-radius;
}

.search-btn {
  border-left: 0; //***
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.random-btn {
  margin-left: 10px;
}

.meals {
  //-- #result-meals
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.meal {
  cursor: pointer;
  position: relative;
  height: 180px;
  width: 180px;
  text-align: center;

  img {
    width: 100%;
    height: 100%;
  }

  .meal-info {
    position: absolute; //***
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    background: rgba(black, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: $transition;
  }

  &:hover .meal-info {
    opacity: 1;
  }
}

.random-meal {
  margin: 30px auto;
  width: 70%;

  img {
    width: 300px;
    margin: 15px;
  }

  .random-meal-info {
    margin: 20px;
    padding: 15px;
    border: 3px $med-grey dashed;
    border-radius: $border-radius;
  }

  p {
    margin: 10px 0;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 20px;
    font-weight: 400;

    &.category {
      font-weight: 600;
      font-size: 22px;
    }
  }

  ul {
    padding-left: 0;
    list-style-type: none;

    li {
      border: 1px solid $med-grey;
      border-radius: $border-radius;
      background-color: white;
      display: inline-block;
      color: $black;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;
      margin: 0 5px 5px 0;
    }
  }
}

@import "media";
