@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #000;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

html.dark {
  background-color: #111;
  color: #fff;
}

body {
  font-family: "Heebo", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

button.toggle {
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  background-color: #000;
  color: #fff;
}

button.toggle.light {
  background-color: #fff;
  color: #373737;
}

button.toggle:focus {
  outline: none;
}

.clock-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock-container .clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.clock-container .time {
  font-size: 60px;
}

.clock-container .date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.clock-container .date .circle {
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 18px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-size: 12px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.clock-container .date .circle.light {
  background-color: #fff;
  color: #000;
}

.needle.hour, .needle.minute, .needle.second {
  -webkit-transform: translate(-50%, -100%) rotate(0deg);
  transform: translate(-50%, -100%) rotate(0deg);
}

.needle {
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

.needle.hour.light {
  background-color: #fff;
}

.needle.minute {
  height: 100px;
}

.needle.minute.light {
  background-color: #fff;
}

.needle.second {
  height: 100px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-point:after {
  content: "";
  background-color: #000;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
