@import "config";

body {
  background-color: $bg-color;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.btn {
  background-color: white;
  color: $dark-blue;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

#toasts {
  position: fixed;
  bottom: 10px;
  // right: 10px;
  left: 10px;
  display: flex;
  // flex-direction: column;
  // align-items: flex-end;
  align-items: flex-start;

  .toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    margin: 0.2rem;
    &.info {
      color: black;
    }
    &.success {
      color: green;
    }
    &.error {
      color: red;
    }
  }
}
