@import "config";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: rgb(238, 235, 235);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  border: 4px solid white;
  //*****
  box-shadow: -8px 8px 15px rgba(225, 225, 225, 0.05),
    20px 20px 20px rgba(0, 0, 0, 0.2),
    inset -8px -8px 15px rgba(225, 225, 225, 0.05),
    inset 20px 20px 20px rgba(0, 0, 0, 0.2);
  //*****
  position: relative;

  &::after {
    content: "";
    height: 20px;
    width: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    position: absolute;
    @include transform(translateX(-50%) translateY(-50%));
    z-index: 12;
  }

  .num {
    --rotation: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    @include transform(rotate(var(--rotation)));
    font-size: 20px;
    padding: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translateX(-50%));
      width: 5px;
      height: 12px;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }
  // .number1 {
  //   --rotation: 30deg;
  //   div { @include transform(rotate(-30deg)); }
  // }
  $hours: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11); //-- 12 is excluded
  @each $hour in $hours {
    .number#{$hour} {
      --rotation: #{$hour * 30}deg;
      div {
        @include transform(rotate(#{$hour * -30}deg));
      }
    }
  }

  .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transform-origin: bottom;
    @include transform(translate(-50%) rotate(calc(var(--rotation) * 1deg)));
    z-index: 10;
    background-color: black;

    &.second {
      width: 5px;
      height: 45%;
      background-color: red;
    }

    &.minute {
      width: 7px;
      height: 40%;
      background-color: black;
    }

    &.hour {
      width: 10px;
      height: 30%;
      background-color: black;
    }
  }
}
