@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  &.show-nav {
    transform: rotate(-20deg);
    & + nav li {
      transform: translateX(0);
      transition-delay: 0.3s;
    }
  }
}
