@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");

$font-stack: "Montserrat", sans-serif;
$bg-color: #3494e4;
$text-color: white;
$border-color: #144fc6;
$fill-color: #6ab3f8;
