@import "config";

body {
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.kinetic {
  position: relative; //-- for before and after which are absolute
  height: 80px;
  width: 80px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0px; //***  ====> each border is a triangle (left, right, bottom, top)
    height: 0px; //***
    border: 35px solid transparent; //********* 100x100 square with each border is a triangle
    animation: rotateA $duration linear infinite $delay;
  }

  &::after {
    border-bottom-color: rgb(20, 20, 20);
  }

  &::before {
    border-bottom-color: rgb(5, 5, 230);
    transform: rotate(90deg);
    animation: rotateB $duration linear infinite;
  }
}

@import "motion";
