@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-stack: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;
//
$bg-color: hsl(210, 36%, 96%);
$text-color: hsl(209, 61%, 16%);
$p-color: hsl(210, 22%, 49%);
$color-secondary: hsl(182, 63%, 54%);
$link-color: $text-color;
$hover-color: $color-secondary;
//
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$letter-spacing: 0.25rem;
$transition: all 0.3s linear;
