// @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

$font-stack: "Roboto", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$bg-color: hsl(210, 36%, 96%); //near white
$text-color: hsl(209, 61%, 16%); //dark blue black
$color-secondary: hsl(182, 63%, 54%); //light blue cyan(aqua)
$p-color: hsl(210, 22%, 49%);
//
$link-color: $text-color; //dark
$hover-color: $color-secondary; //light
$text-color-dark: $text-color; //dark
$text-color-light: $color-secondary; //light

$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$letter-spacing: 0.25rem;
$transition: all 0.3s linear;
