@media screen and (min-width: 800px) {
  h1,
  h2 {
    line-height: 1;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-header {
      padding: 0;

      .nav-toggle {
        display: none;
      }
    }
  }

  .links-container {
    height: auto !important;

    .links {
      display: flex;

      a {
        background: transparent;
        color: $text-color;
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: $letter-spacing;
        display: block;
        transition: transition;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;

        &:hover {
          // color: white;
          color: $color-secondary;
        }
      }
    }
  }

  .links a {
    // color: orange;
  }

  .links a:hover {
    // color: red;
  }

  .fixed-nav .links a {
    color: $link-color;
  }
  .fixed-nav .links a:hover {
    color: $color-secondary;
  }
}

@media screen and (min-width: 768px) {
  .banner-container p {
    max-width: 40rem;
  }
}
