@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

@media screen and (min-width: 800px) {
  h1,
  h2,
  h3 {
    line-height: 1;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .banner-container p {
    max-width: 40rem;
  }
}
