@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-secondary;
  font-size: 0.875rem;
  background: $bg-color;
  color: $text-color;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

//***
img:not(.logo) {
  width: 100%;
}

img {
  display: block;
}

h1,
h2 {
  letter-spacing: $letter-spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $font-stack;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
p {
  margin-bottom: 1.25rem;
  color: $p-color;
}

@import "media";
