@import "config";

html {
  scroll-behavior: smooth; //**********//
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-secondary;
  background: $bg-color;
  color: $text-color;
  font-size: 0.875rem;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  // img:not(.logo) {   width: 100%; }
  display: block;
  width: 100%;
}

h1,
h2,
h3 {
  letter-spacing: $letter-spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $font-stack;
  color: $text-color;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  margin-bottom: 1.25rem;
  color: $p-color;
}

//-- begin header --------------------------------//
//-- nav & banner
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(../hero.jpeg) center/cover no-repeat;
}
//-- 'explore projects'
.btn {
  background: transparent;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  letter-spacing: $letter-spacing;
  display: inline-block;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: $transition;

  &:hover {
    background: white;
    color: $hover-color;
  }
}

/* nav =========================== */
nav {
  background: white;
  // padding: 1rem 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo {
    position: absolute;
    top: 20px;
    left: 50;
    z-index: 10;

    a {
      color: $text-color;
      span {
        color: $text-color-light;
      }

      &:hover {
        color: $text-color-light;
        span {
          color: $text-color;
        }
      }
    }
  }

  //-- button : hamburger menu
  .nav-toggle {
    position: absolute;
    top: 18px;
    right: 24px;
    font-size: 1.5rem;
    color: $text-color;
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    transition: $transition;

    &:hover {
      color: $hover-color;
    }
  }
}

//-- when the hambur menu displays
.links-container {
  height: 0;
  overflow: hidden;
  transition: $transition;
  z-index: 20;
  // border: 1px solid red;

  //-- when the hambur menu displays
  .links a {
    background: white;
    color: $text-color;
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: $letter-spacing;
    display: block;
    transition: $transition;
    font-weight: bold;
    padding: 0.75rem 0;

    &:hover {
      color: $hover-color;
    }
  }
}

@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    padding: 1rem 1.5rem;
  }

  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;

    .nav-toggle {
      display: none;
    }
  }

  .links-container {
    height: auto !important;

    .links {
      display: flex;

      a {
        background: transparent;
        color: white;
        font-size: 1.1rem;
        text-transform: capitalize;
        letter-spacing: $letter-spacing;
        display: block;
        transition: transition;
        margin: 0 1rem;
        font-weight: bold;
        padding: 0;

        &:hover {
          color: $text-color-dark;
        }
      }
    }
  }
} //media (min-width >= 800px)

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: $light-shadow;

  .logo {
    a {
      color: $text-color;
      span {
        color: $color-secondary;
      }

      &:hover {
        color: $color-secondary;
        span {
          color: $text-color;
        }
      }
    }
  }

  .links-container {
    .links a {
      color: $text-color-dark;

      &:hover {
        color: $text-color-light;
      }
    }
  }
}

/* end nav ======================= */

/* banner ======================== */
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.banner-container {
  h1 {
    color: white;
    text-transform: uppercase;
  }

  p {
    color: white;
    max-width: 25rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
  }
}
//-- end header ----------------------------------//

@import "media"; //**** import location!!

/* section ======================= */
.section {
  padding-bottom: 5rem;
}
.title h2 {
  padding-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: $color-secondary;
}
#about,
#services,
#projects {
  height: 80vh;
}
#about,
#services {
  background: white;
}
/* end section =================== */

/* footer ======================== */
footer {
  background: $text-color;
  padding: 3rem 1rem;
}
footer p {
  color: white;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: $letter-spacing;
  margin-bottom: 0;
}
/* end footer ==================== */

/* top-link arrow ================ */
.top-link {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  font-size: 1.25rem;
  background: $color-secondary;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  color: white;
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}
/* end top-link arrow ============ */

@import "motion";
