@import "global";
@import "config";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-color;
}

div.phone-container {
  position: relative;
  overflow: hidden;
  border: 3px solid $clr-grey-10;
  border-radius: 15px;
  width: 340px;
  height: 600px;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%; //340px
    height: calc(100% - 60px); //***** nav ul height == 60px, 540px
    opacity: 0; //**
    transition: $transition;
    &.show {
      opacity: 1; //**
    }
  }
}

nav {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%; //340px

  ul {
    background-color: $white;
    display: flex;
    padding: 0;
    margin: 0;
    height: 60px; //***

    li {
      color: $text-color;
      cursor: pointer;
      flex: 1; //***
      padding: 10px;
      text-align: center;
      p {
        font-size: 12px;
        margin: 2px 0;
      }
      &:hover,
      &.active {
        color: $light-blue;
      }
    }
  }
}
