$font-stack: $ff-primary;
$font-secondary: $ff-secondary;
//
$bg-color: hsl(92, 57%, 83%);
$text-color: $clr-grey-1;
$dark-blue: $clr-primary-2;
$light-blue: $clr-primary-5;
$dark-red: $clr-red-dark;
$light-red: $clr-red-light;
$dark-green: $clr-green-dark;
$light-green: $clr-green-light;
