$font-stack: $ff-primary;
$font-secondary: $ff-secondary;
//
$bg-color: $clr-grey-10; //-- hsl(210, 36%, 96%); near white
$dark-blue: $clr-primary-2;
$light-blue: $clr-primary-5;
$dark-red: $clr-red-dark;
$light-red: $clr-red-light;
