@import "global";
@import "config";

body {
  background: $bg-color;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.title {
  text-align: center;
  margin-bottom: 4rem;

  p {
    width: 80%;
    margin: 0 auto;
    color: $clr-grey-4;
  }
}

.park-img {
  margin-bottom: 2rem;
  img {
    border-radius: $border-radius;
    object-fit: cover;
    height: 20rem;
  }
}

.park {
  background: $white;
  border-radius: $border-radius;
  display: grid;
  grid-template-rows: auto 1fr;

  .btn-container {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .tab-btn {
      padding: 1rem 0;
      border: none;
      text-transform: capitalize;
      font-size: 1rem;
      display: block;
      background: $dark-green;
      color: $bg-color;
      cursor: pointer;
      transition: $transition;
      letter-spacing: $letter-spacing;
      &:nth-child(1) {
        border-top-left-radius: $border-radius;
      }
      &:nth-child(3) {
        border-top-right-radius: $border-radius;
      }
      &:hover:not(.active) {
        background: $light-green;
        color: $dark-blue;
      }
      &.active {
        background: $white;
        color: $text-color;
      }
    }
  }

  .park-content {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    padding: 2rem 1.5rem;

    .content {
      display: none;
      &.active {
        display: block;
      }
    }
  }
}

@import "media";
