@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  overflow-x: hidden;
}

.container {
  background-color: #fafafa;
  //***
  transform-origin: top left;
  transition: transform 0.5s linear;
  //***
  width: 100vw;
  min-height: 100vh;
  padding: 50px;

  &.show-nav {
    transform: rotate(-20deg); //-- counter clockwise

    & .circle {
      transform: rotate(-70deg);
    }
  }
}

.circle-container {
  position: fixed;
  //-- registration point is in the center
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative; //*****
  transition: transform 0.5s linear;

  button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 94px;
    background: transparent;
    border: 0;
    font-size: 26px;
    color: #fff;
    padding: 0px 6px;

    &:focus {
      outline: none;
    }

    &#open {
      left: 60%; //***
    }

    &#close {
      top: 60%; //***
      transform: rotate(90deg);
      transform-origin: top left;
    }
  }
}

.content {
  max-width: 1000px;
  margin: 50px auto;

  h1 {
    margin: 0;
  }

  small {
    color: #555;
    font-style: italic;
  }

  p {
    color: #333;
    line-height: 1.5;
    margin: 20px auto;
  }

  h3 {
    margin-bottom: 20px;
  }

  img {
    max-width: 100%;
  }
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;

  a {
    color: #fafafa;
    text-decoration: none;
    transition: all 0.5s;

    &:hover {
      color: #ff7979;
      font-weight: bold;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 30px;

    li {
      text-transform: uppercase;
      color: #fff;
      margin: 40px 0;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.4s ease-in, opacity 0.5s ease-out 0.1s;

      i {
        font-size: 20px;
        margin-right: 10px;
      }

      & + li {
        // margin-left: 15px;
        transform: translateX(-150%);

        & + li {
          // margin-left: 30px;
          transform: translateX(-200%);
        }
      }
    }
  }
}

.container.show-nav + nav li {
  //+ : immediately after
  transform: translateX(0);
  transition-delay: 0.1s;
  transition-timing-function: ease-out;
  opacity: 1;

  & + li {
    transition-delay: 0.3s;

    & + li {
      transition-delay: 0.5s;
    }
  }
}
