@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font-stack: "Roboto", sans-serif;
//
$bg-color: hsl(206, 33%, 96%); //-- light grey, near white
$text-color: hsl(209, 61%, 16%); //-- darkest grey
$light-blue: hsl(205, 93%, 71%); //hsl(205, 89%, 70%)
$dark-blue: hsl(205, 86%, 22%);
$black: #111;
$border-radius: 15px;
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$transition: all 0.3s ease-in;
