@import "config";

body {
  font-family: $font-stack;
  height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 4rem;
  color: $white;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  //
  left: 50%;
  top: 50%;
  //-- registration point is in the center of the button
  transform: translateX(-50%) translateY(-50%);
  text-decoration: none;
  color: white;
  border: $white solid 0.2rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  width: 15rem;
  padding: 1.5rem;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;

  .split {
    position: absolute;
    width: 50%; //-- half for each left and right
    height: 100%;
    overflow: hidden;
  }

  .left {
    left: 0;
    background: url("../img/ps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .btn:hover {
      background-color: $left-btn-hover-color;
      border-color: $left-btn-hover-color;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $left-bg-color;
    }
  }

  .right {
    right: 0;
    background: url("../img/xbox.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .btn:hover {
      background-color: $right-btn-hover-color;
      border-color: $right-btn-hover-color;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $right-bg-color;
    }
  }

  .left,
  .right,
  .left::before,
  .right::before {
    transition: $transition;
  }
}

.hover-left {
  .left {
    width: $hover-width;
  }

  .right {
    width: $other-width;
  }
}

.hover-right {
  .left {
    width: $other-width;
  }

  .right {
    width: $hover-width;
  }
}

@import "media";
