@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

$font-stack: "Poppins", sans-serif;
$bg-color: #ecf0f1;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
$dark-grey: #777;
$light-grey: #aaa;
