@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

$font-stack: "Poppins", sans-serif;
$bg-color: #ecf0f1; //#2a2a72
$dark-shadow: 5px 5px 10px rgba(154, 160, 185, 0.2),
  0px 5px 10px rgba(0, 0, 0, 0.25);
$dark-grey: #777;
$light-grey: #aaa;
