@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
  // margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // margin: 20px auto;
}

canvas {
  border: 2px solid steelblue;
}

.toolbox {
  background-color: steelblue;
  // border: 1px solid slateblue;
  display: flex;
  width: 804px;
  padding: 1rem;

  & > * {
    background-color: #fff;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    height: 50px;
    width: 50px;
    margin: 0.25rem;
    padding: 0.25rem;
    cursor: pointer;
  }

  & > *:last-child {
    margin-left: auto;
  }
}
