@import "config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: $font-stack;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;

  span {
    color: crimson;
  }
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  font-size: 2rem;
  border: 2px solid crimson;
  margin-top: 30px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* Start #header Section */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;

  .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    // transition: 0.3s ease background-color;
  }

  .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
  }

  .nav-list {
    ul {
      list-style: none;
      position: absolute;
      background-color: rgb(31, 30, 30);
      width: 100vw;
      height: 100vh;
      left: 100%;
      // left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 1;
      overflow-x: hidden;
      transition: 0.5s ease left;

      a {
        font-size: 2.5rem;
        font-weight: 500;
        letter-spacing: 0.2rem;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        padding: 20px;
        display: block;
      }

      a::after {
        content: attr(data-after);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        color: rgba(240, 248, 255, 0.021);
        font-size: 13rem;
        letter-spacing: 50px;
        z-index: -1;
        transition: 0.3s ease letter-spacing;
      }

      li:hover a {
        color: crimson;
      }

      li:hover a::after {
        transform: translate(-50%, -50%) scale(1);
        letter-spacing: initial;
      }
    }
    ul.active {
      left: 0%;
    }
  }

  .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
    // background-color: red;  //test
    //-- for the 3 bars inside
    position: relative; //???
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hamburger:after {
    //-- .hamburger has 2 layers, and 1 layer(::after) animates
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
  }

  //-- middle bar
  .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative; //???
    background-color: white;
    z-index: -1;
  }

  .hamburger .bar::after,
  .hamburger .bar::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
  }

  //-- bottom bar
  .hamburger .bar::after {
    top: 8px;
  }

  //-- top bar
  .hamburger .bar::before {
    bottom: 8px;
  }

  //-- moves to the center
  .hamburger.active .bar::before {
    bottom: 0;
  }
  //-- moves to the center
  .hamburger.active .bar::after {
    top: 0;
  }
}
/* End #header Section */

/* Start #hero Section */
#hero {
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;

  h1 {
    display: block;
    font-size: 4rem;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1s;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0; //***//
      background-color: crimson;
      animation: text_reveal_box 1s ease;
      animation-delay: 0.5s;
      font-weight: 500;
    }
  }

  h1:nth-child(1) {
    animation-delay: 1s;
    span {
      animation-delay: 0.5s;
    }
  }
  h1:nth-child(2) {
    animation-delay: 2s;
    span {
      animation-delay: 1.5s;
    }
  }
  h1:nth-child(3) {
    animation: text_reveal_name 0.5s ease forwards;
    animation-delay: 3s;
    span {
      animation-delay: 2.5s;
    }
  }

  .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
  }
} //#hero

#hero::after {
  //-- overlay
  content: ""; //*****//
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: -1; //for not covering text
}
/* End #hero Section */

/* Start #services Section */
#services {
  .services {
    //-- overwrite .container style
    flex-direction: column; //-- service-top & service-column
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .service-top {
    max-width: 500px;
    margin: 0 auto;

    p {
      font-size: 1.4rem;
      margin-top: 5px;
      line-height: 2.5rem;
      font-weight: 300;
      letter-spacing: 0.05rem;
    }
  }

  .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .service-item {
      flex-basis: 80%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 30px;
      border-radius: 10px;
      background-image: url(../img/img-1.png);
      background-size: cover;
      margin: 10px 5%;
      position: relative;
      z-index: 1;
      overflow: hidden;

      .icon {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
      }

      h2 {
        font-size: 2rem;
        color: white;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      p {
        color: white;
        text-align: left;
      }
    } //.service-item

    .service-item::after {
      //-- overlay
      content: ""; //*****//
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
      opacity: 0.9;
      z-index: -1;
    }
  } //.service-bottom
} //#services
/* End #services Section */

/* Start #projects Section */
#projects {
  .projects {
    //-- overwrite .container style
    flex-direction: column; //-- projects-header & all-projects
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
  } //.projects

  .projects-header h1 {
    margin-bottom: 50px;
  } //.projects-header h1

  .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  } //.all-projects

  .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%; //vs.flex-basis
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    .project-info {
      padding: 30px;
      flex-basis: 50%;
      background-color: #8fd3f4;
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
      color: white;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;

      h1 {
        font-size: 4rem;
        font-weight: 500;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 10px;
      }

      p {
        color: white;
      }
    } //.project-info

    .project-img {
      flex-basis: 50%;
      height: 300px;
      overflow: hidden;
      position: relative;

      img {
        transition: 0.3s ease transform;
      }
    } //.project-img

    .project-img:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
      opacity: 0.7;
    } //.project-img::after
  } //.project-item

  .project-item:hover .project-img img {
    transform: scale(1.1);
  }
} //#projects
/* End #projects Section */

/* Start #about section */
#about {
  .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
  }

  .col-left {
    width: 250px;
    height: 360px;

    .about-img {
      width: 100%;
      height: 100%;
      position: relative;
      border: 11px solid white;
    }

    .about-img::after {
      content: "";
      position: absolute;
      left: -33px; //****//
      top: 19px;
      height: 98%;
      width: 98%;
      border: 7px solid crimson;
      z-index: -1;
    }
  }

  .col-right {
    width: 100%;

    h2 {
      font-size: 1.8rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    .cta {
      color: crimson;
      margin-bottom: 50px;
      padding: 10px 20px;
    }

    .cta:hover {
      color: white;
    }
  }
}
/* End #about Section */

/* Start #contact section */
#contact {
  .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
  }

  .contact-items {
    width: 400px;
  }

  .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;

    .icon {
      width: 70px;
      margin: 0 auto;
      margin-bottom: 10px;
    }

    .contact-info h1 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .contact-info h2 {
      font-size: 1.3rem;
      font-weight: 500;
      font-weight: 2rem;
    }
  }

  .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
  }
}
/* End #contact Section */

/* Start #footer section */
#footer {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  .footer {
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;

    h2 {
      color: white;
      font-weight: 500;
      font-size: 1.8rem;
      letter-spacing: 0.1rem;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .social-icon {
      display: flex;
      margin-bottom: 30px;
      .social-item {
        width: 50px;
        height: 50px;
        margin-bottom: 0 5px;

        img {
          filter: grayscale(1);
        }
      }

      .social-item:hover img {
        filter: grayscale(0);
      }
    }

    p {
      color: white;
      font-size: 1.3rem;
    }
  }
}
/* End #footer Section */

@import "media";
@import "mobile";
