@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: "Lato", sans-serif;
//
$bg-color: $clr-grey-1; //-- darkest grey
$text-color: $clr-grey-10; //-- light grey, near white
$light-blue: $clr-primary-6;
$black: #111;
$border-radius: 5px;
