@import "global";
@import "config";

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-stack;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
//  border: solid 1px red;

.movie-container {
  margin: 20px 0;

  select {
    //-- dropdown
    background-color: $white;
    border: 0;
    border-radius: $border-radius;
    font-size: 14px;
    margin-left: 10px; //-- distance from the label
    padding: 5px 15px;
    appearance: none; //
  }
}

ul.showcase {
  //-- ul
  background: rgba(black, 0.25);
  color: $clr-grey-6;
  border-radius: $border-radius;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; //***

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px; //20px(10x2) between li
    // border: solid 1px red;

    small {
      margin-left: 2px;
    }
  }

  .seat:hover {
    cursor: default;
    transform: scale(1); //-- no change
  }
}

.container {
  perspective: 1000px; //*****//
  margin-bottom: 30px;

  .screen {
    background-color: $white;
    height: 70px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg); //******* rotates around the horizontal axis //
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  .row {
    display: flex;

    &:nth-of-type(4) {
      margin-bottom: 18px; //-- between the 2nd and the 3rd column
    }
  }
}

.seat {
  background-color: $clr-grey-3;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &.selected {
    background-color: $light-blue;
  }
  &.occupied {
    background-color: $white;
  }
  &:nth-of-type(2) {
    margin-right: 18px; //-- between the 2nd and the 3rd column
  }
  &:nth-last-of-type(2) {
    margin-left: 18px; //-- between the 2nd last and the 3rd last column
  }
  &:not(.occupied):hover {
    //*** not(.occupied) ***//
    cursor: pointer;
    transform: scale(1.2);
  }
}

p.text {
  margin: 5px 0;
  span {
    color: $light-blue;
  }
}
