@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-stack;
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

//-- progress bar background
.progress-container::before {
  content: "";
  background-color: $border-empty;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%; //350px
  z-index: -1;
}

//-- progressed bar
.progress {
  background-color: $border-fill;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%; //-- progressed amount
  z-index: -1;
  transition: 0.4s ease; //*****
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%; //circle
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid $border-empty;
  transition: 0.4s ease;
}

.circle.active {
  border-color: $border-fill;
}

.btn {
  background-color: $border-fill;
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: $border-empty;
  cursor: not-allowed;
}

// @import "mobile";
