@import "config";

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-family;
  font-size: 0.875rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90vw;
  max-width: 35rem;
  margin-top: 6rem;
  padding: 2rem;
  background: white;
  border-radius: $radius;
  box-shadow: $light-shadow;
  transition: $transition;

  &:hover {
    box-shadow: $dark-shadow;
  }

  .grocery-form {
    .alert {
      margin-bottom: 1rem;
      height: 1.25rem;
      display: grid;
      align-items: center;
      text-align: center;
      font-size: 0.7rem;
      border-radius: 0.25rem;
      letter-spacing: $spacing;
      text-transform: capitalize;

      &.alert-danger {
        color: #721c24; //-- dark-red
        background: #f8d7da; //light-white-pink
      }

      &.alert-success {
        color: #155724; //-- dark-green
        background: #d4edda; //--light-white-green
      }
    }

    h3 {
      font-family: $font-family2;
      font-size: 1.25rem;
      line-height: 1.25;
      letter-spacing: $spacing;
      color: $color-d-shade;
      text-align: center;
      text-transform: capitalize;
      margin-bottom: 0.75rem;
    }

    .form-control {
      display: flex;
      justify-content: center;

      #grocery-input {
        padding: 0.25rem;
        padding-left: 1rem;
        background: $bg-color;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
        border-color: transparent;
        font-size: 1rem;
        flex: 1 0 auto;
        color: $text-color2;
        &::placeholder {
          color: $text-color2;
          font-family: $font-family;
        }
      }
    }
  } //-- .grocery-form

  .grocery-container {
    margin-top: 2rem;
    transition: $transition;
    visibility: hidden;

    .grocery-list {
      .grocery-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        transition: $transition;
        padding: 0.25rem 1rem;
        border-radius: $radius;
        text-transform: capitalize;
        border: 1px solid $bg-color;

        &:hover {
          color: $text-color2;
          background: $bg-color;
        }

        &:hover .title {
          color: $text-color2;
        }

        .title {
          margin-bottom: 0;
          color: $text-color;
          letter-spacing: 2px;
          transition: $transition;
        }
      }
    } //-- .grocery-list
  } //-- .grocery-container

  .show-container {
    visibility: visible;
  }
} //.container

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  padding-bottom: 5px;
  transition: $transition;
}

.edit-btn {
  color: $color-green-light;
  &:hover {
    color: $color-green-dark;
  }
}

.delete-btn {
  color: $color-red-light;
  &:hover {
    color: $color-red-dark;
  }
}

.submit-btn {
  background: $color-l-shade;
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  padding: 0.25rem;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
  cursor: pointer;
  content: $color-blue-light;
  transition: $transition;
  font-size: 0.85rem;

  &:hover {
    background: $color-blue-light;
    color: white;
  }
}

.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: $color-red-light;
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: $spacing;
  cursor: pointer;
  transition: $transition;
  margin-top: 1.25rem;

  &:hover {
    color: $color-red-dark;
  }
}

@import "media";
