@import "config";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background-color: $bg-color;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  box-shadow: $box-shadow;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

@import "motion";
