@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: "Lato", sans-serif;
$bg-color: hsl(210, 36%, 96%); //-- near white
$text-color: hsl(209, 61%, 16%); //-- dark blue
$text-color2: hsl(209, 14%, 42%);
$border-color: #9fa4a8;
$light-blue: #a2d3fd;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
