@import "config";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 10;
}

body {
  font-family: $font-stack;
  font-size: 10px;
}

a {
  text-decoration: none;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Start #hero Section */
#hero {
  background-image: url(../img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;

  h1 {
    display: block;
    font-size: 4rem;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal 0.5s ease forwards;
    animation-delay: 1.5s;
    span {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0; //***//
      background-color: crimson;
      animation: text_reveal_box 1s ease;
      animation-delay: 1s;
    }
  }

  h1:nth-child(1) {
    animation-delay: 1.5s;
    span {
      animation-delay: 1s;
    }
  }
  h1:nth-child(2) {
    animation-delay: 2.5s;
    span {
      animation-delay: 2s;
    }
  }
  h1:nth-child(3) {
    animation-delay: 3.5s;
    span {
      animation-delay: 3s;
    }
  }

  .cta {
    display: inline-block;
    padding: 10px 30px;
    color: crimson;
    background-color: transparent;
    font-size: 2rem;
    border: 2px solid crimson;
    margin-top: 30px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: 0.3s ease;
    transition-property: background-color, color;
  }

  .cta:hover {
    color: white;
    background-color: crimson;
  }
}

#hero::after {
  //-- overlay
  content: ""; //*****//
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: -1; //for not covering text
}
/* End #hero Section */

@import "mobile";
