@import "config";

body {
  font-family: $font-stack;
  background-color: $bg-color;
  color: $text-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
  color: $text-color;
}

small {
  display: block;
  color: $text-color2;
  margin-bottom: 30px;
}

ul.draggable-list {
  //-- ul
  border: 1px solid $border-color; //-- the whole container border
  list-style-type: none;

  li {
    background-color: #fff;
    display: flex;
    flex: 1;
    height: 50px;

    //-- except the last one
    &:not(:last-of-type) {
      //******
      border-bottom: 1px solid $border-color;
    }

    &:hover {
      background-color: $bg-color;
    }

    &:last-child {
      .number {
        height: 50px;
      }
    }
  }

  .number {
    //-- span
    background-color: $light-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 49px;
    width: 50px;
    border-right: 1px solid $border-color;
  }

  .person-name {
    margin: 0 20px 0 0;
  }

  //-- li.over
  li.over .draggable {
    background-color: #eaeaea;
  }

  li.right .person-name {
    color: #3ae374;
  }

  li.wrong .person-name {
    color: #ff3838;
  }
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; //-- left and right end aligned
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: $bg-color;
  color: $text-color;
  border: none;
  font-size: 16px;
  padding: 20px 20px;
  cursor: pointer;

  &:active {
    transform: scale(0.98); //***
  }

  &:focus {
    outline: none;
  }

  &:hover {
    color: $text-color2;
  }
}
