@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: "Lato", sans-serif;
//
$bg-color: $clr-grey-3;
$text-color: $clr-grey-9;
$dark-blue: $clr-primary-2;
$light-blue: $clr-primary-5;
