@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

$font-stack: "Lato", sans-serif;

$primary-color: #30336b;
$secondary-color: #be2edd;
$text-color: white;
$border-color: rgb(200, 200, 200);

$modal-duration: 1s;
