@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  transition: transform 0.3s ease;
}

body.show-nav {
  /* Width of nav */
  transform: translateX(200px);
}

nav {
  background-color: $primary-color;
  border-right: 2px solid rgba($border-color, 0.1);
  color: $text-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);

  .logo {
    padding: 30px 0;
    text-align: center;
  }

  .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
  }

  ul li {
    border-bottom: 2px solid rgba($border-color, 0.1);
    padding: 20px;

    &:first-of-type {
      border-top: 2px solid rgba($border-color, 0.1);
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;

  h1 {
    margin: 0;
  }

  p {
    margin: 30px 0;
  }
}
