@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

$font-stack: "Heebo", sans-serif;
$black-color: #000;
$white-color: #fff;
$dark-grey-color: #111;
$red-color: #e74c3c;

@function set-text-color($color) {
  @if ($color == $white-color) {
    @return $black-color;
  } @else {
    @return $white-color;
  }
}

@mixin set-background-text($color) {
  background-color: $color;
  color: set-text-color($color);
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
